body {
    background-color: #22396a;
    color: white;
}
header {
    text-align: center;
}
.green { 
    color: lightgreen;
}
a {
    color: red;
}
div {
    width: 500px;
    margin: 0;
    border: 0;
    padding: 10px;
    color: royalblue;
}